@charset "utf-8";

body {
    color: rgb(1, 3, 42);
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;

    
    background-image: linear-gradient(to right, rgba(201, 214, 234, 0.868), transparent), url(snow.jpg);
    

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-size: 30px;
    font-weight: normal;

    margin-left: 20px;

    width: calc(50%);
}
@media screen and (max-width: 1200px) {
    body {
        
        width: 100%;
        font-size: 15px;
        margin-left: 0px;
    }
    
}





h1, h2, h3, h4 {
    text-shadow: 1.2px 1.2px 1.2px;
    margin-top: 90px;
}

@media screen and (max-width: 1200px){
    h1, h2, h3, h4 {
        margin: 20px 0;
    }
    
}





.container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
    }
    
}




.著者一覧,
.アンケート,
.お問い合わせ {
    background: rgba(79, 106, 144, 0.582);
    color: #040d36eb;
    margin: 10px;
    padding: 10px;
}
            


a {color: #040d36eb;
    text-decoration: none;
}


table {
    margin: auto;
    width: auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #040d36eb;
}







ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #040d36eb;
    clolist-style: none;
    padding: 0;
}

footer a {
    color: #040d36eb;
    clolist-style: none;
    padding: 0;

    font-weight: bold;
}


img {
    margin-top: 200px;
    margin-bottom: 200px;
}

@media screen and (max-width: 1200px) {
    img {
        margin-top: 15px;
        margin-bottom: 15px;

        width: 300px;
        height: 200px;
    }
    
}






.top_button {
    position: fixed;
    right: 30px;
    bottom: 30px;

    font-weight: bold;
}


.link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link-items {
    display: inline-block;
    color: rgb(1, 3, 42);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color .8s;
}

.link-items:hover {
    border-bottom: 2px solid rgb(7, 10, 70);

}
